/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-dialog-container{
  color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}
